{# Load the tag library #}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Suriname Tracker</a>                                       
   </nav>
  
    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}

</body>
</html>

                                                                                                                                                                                                                                                                                                                                                                 